body,
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Calibri", Arial, sans-serif;
}

h1{color: goldenrod;}
.header-container {
  background-color: maroon;
  padding-left: 50px;
}

.jewelry-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

/* Featured Products Section */
.jewelry-container > div:first-child {
  width: 60%;
}

.product-showcase {
  display: flex;
  justify-content: space-around;
}

.product {
  width: 200px;
  text-align: center;
  margin: 15px;
  padding: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.product img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.price {
  color: maroon;
  font-weight: bold;
}

button {
  background: whitesmoke;
  color: maroon;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

button:hover {
  background: #ffab40;
}

/* Contact and Information Section */
.jewelry-container > div:last-child {
  width: 35%;
}

label {
  font-weight: bold;
}

/* Style for input when in focus */
input:focus {
  border: 3px solid maroon; /* Change the border size and color on focus */
}

#contact-form {
  width: 100%;
  margin-top: 20px;
}

#contact-form label {
  display: block;
  margin-bottom: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  padding: 7px;
  margin: 5px 0;
  outline: 0.2px solid grey;
  border-radius: 5px;
}

#contact-form textarea {
  height: 100px;
}

/* #contact-form input[type="submit"] {
  background:blue;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
} */

#contact-form input[type="submit"]:hover {
  background: #ffab40;
}

/* Cart */

.cart-container {
  margin-top: 20px;
  text-align: left;
}

#clear-cart-button,
#submitForm button {
  background: maroon;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px; /* Adjust as needed */
  display: inline-block; /* Ensure the button takes up the full width */
}

#clear-cart-button:hover,
#submitForm button:hover {
  background: #ffab40;
}
/* End of the Cart section */
